<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProcessName" value="notepad"/>
    <add key="TimeInterval" value="300000"/>
    <add key="ServerName" value="LAZ-LAPTOP"/>
    <add key="MailSender" value="noname@fujifilm.mx"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Password" value="nopassword"/>
    <add key="Destinataries" value="noname@fujifilm.com.mx, other@gmail.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>